@using MovieReviewApp.Database
@using MovieReviewApp.Models

@if (MovieEvent != null)
{
    <div class="card mb-3">
        <div class="card-body">
            <p>@MovieEvent.StartDate.ToString("MMMM d, yyyy") - @MovieEvent.EndDate.ToString("MMMM d, yyyy")</p>
            <div><b>Person:</b> @MovieEvent.Person</div>
            @if (MovieEvent.IsEditing)
            {
                <div class="form-group">
                    <label><b>Movie: </b></label>
                    <input type="text" @bind="@MovieEvent.Movie" class="form-control" />
                </div>
                <div class="form-group">
                    <label><b>IMDb: </b></label>
                    <input type="text" @bind="@MovieEvent.IMDb" class="form-control" />
                </div>
                <div class="form-group">
                    <label><b>Poster URL:</b></label>
                    <input type="text" @bind="@MovieEvent.PosterUrl" class="form-control" />
                </div>
                <div class="form-group">
                    <label><b>Download Link: </b></label>
                    <input type="text" @bind="@MovieEvent.DownloadLink" class="form-control" />
                </div>
                <div class="form-group">
                    <label><b>Reason:</b></label>
                    <textarea placeholder="Your reason for choosing this film" @bind="@MovieEvent.Reasoning" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <b>Have you already seen it?</b>
                    <input type="checkbox" @bind="@MovieEvent.AlreadySeen" class="form-check-input" />
                </div>
                @if (MovieEvent.AlreadySeen)
                {
                    <div class="form-group">
                        <b>When?</b>
                        <select @bind="selectedYear" class="form-control">
                            @foreach (var year in Enumerable.Range(1985, DateTime.Now.Year - 1999))
                            {
                                <option value="@year">@year</option>
                            }
                        </select>
                    </div>
                }
                <button type="button" class="btn btn-primary" @onclick="Save">Save</button>
                <button type="button" class="btn btn-secondary" @onclick="Cancel">Cancel</button>
            }
            else
            {
                <div>
                    <b>Movie: </b>
                    @if (string.IsNullOrEmpty(MovieEvent.Movie))
                    {
                        <span>none</span>
                    }
                    else
                    {
                        @MovieEvent.Movie
                    }
                </div>
                <div>
                    <b>IMDb: </b>
                    @if (string.IsNullOrEmpty(MovieEvent.IMDb))
                    {
                        <span>none</span>
                    }
                    else
                    {
                        <a target="_blank" href="@MovieEvent.IMDb">link</a>
                    }
                </div>
                <div>
                    <b>Download Link: </b>
                    @if (string.IsNullOrEmpty(MovieEvent.DownloadLink))
                    {
                        <span>none</span>
                    }
                    else
                    {
                        <a target="_blank" href="@MovieEvent.DownloadLink">download movie</a>
                    }
                </div>
                <div>
                    @if (string.IsNullOrEmpty(MovieEvent.PosterUrl))
                    {
                        <span>none</span>
                    }
                    else
                    {
                        <img style="max-width: 400px; max-height: 400px;" src="@MovieEvent.PosterUrl" />
                    }
                    <br />
                </div>
                <div>
                    <b>Reason: </b>
                    @if (string.IsNullOrEmpty(MovieEvent.Reasoning))
                    {
                        <span>none</span>
                    }
                    else
                    {
                        @MovieEvent.Reasoning
                    }
                </div>
                <div>
                    @if (MovieEvent.AlreadySeen && MovieEvent.SeenDate.HasValue)
                    {
                        <b>I saw this movie in @MovieEvent.SeenDate.Value.Year</b>
                    }
                    else
                    {
                        <b>I have never seen this movie</b>
                    }
                </div>
                <button type="button" class="btn btn-secondary" @onclick="Edit">Edit</button>
            }
        </div>
    </div>
}
else
{
    <span>Loading...</span>
}

@code {
    [Parameter]
    public MovieEvent? MovieEvent { get; set; }

    private MongoDb db = new MongoDb();
    private int selectedYear;

    protected override void OnParametersSet()
    {
        if (MovieEvent != null && MovieEvent.SeenDate.HasValue)
        {
            selectedYear = MovieEvent.SeenDate.Value.Year;
        }
        else
        {
            selectedYear = DateTime.Now.Year;
        }
    }

    private void Edit()
    {
        if (MovieEvent != null)
            MovieEvent.IsEditing = true;
    }
    private void Cancel()
    {
        if (MovieEvent != null)
            MovieEvent.IsEditing = false;
    }
    private void Save()
    {
        if (MovieEvent != null)
        {
            if (MovieEvent.AlreadySeen)
            {
                MovieEvent.SeenDate = new DateTime(selectedYear, 1, 1);
            }
            db.AddOrUpdateMovieEvent(MovieEvent);
        }
        this.Cancel();
    }
}
