@using MovieReviewApp.Database
@using MovieReviewApp.Models

@if (MovieEvent != null)
{
    <p>@MovieEvent.StartDate.ToString("MMMM d, yyyy") - @MovieEvent.EndDate.ToString("MMMM d, yyyy")</p>
    <div><b>Person:</b> @MovieEvent.Person</div>
    @if (MovieEvent.IsEditing)
    {
        <div style="padding:10px 0"><b>Movie: </b><input style="width:70%" type="text" @bind="@MovieEvent.Movie" /></div>
        <div style="padding:10px 0"><b>IMDb: </b><input style="width:70%" type="text" @bind="@MovieEvent.IMDb" /></div>
        <div style="padding:10px 0"><b>Poster URL:</b><input style="width:70%" type="text" @bind="@MovieEvent.PosterUrl" /></div>
        <div style="padding:10px 0"><b>Download Link: </b><input style="width:70%" type="text" @bind="@MovieEvent.DownloadLink" /></div>
        <div style="padding:10px 0"><b>Reason:</b><textarea style="width:70%" placeholder="Your reason for choosing this film" @bind="@MovieEvent.Reasoning" /></div>
        <button type="button" @onclick="Save">Save</button>
        <button type="button" @onclick="Cancel">Cancel</button>
    }
    else
    {
        <div>
            <b>Movie: </b>
            @if (string.IsNullOrEmpty(MovieEvent.Movie))
            {
                <span>none</span>
            }
            else
            {
                @MovieEvent.Movie
            }
        </div>
        <div>
            <b>IMDb: </b>
            @if (string.IsNullOrEmpty(MovieEvent.IMDb))
            {
                <span>none</span>
            }
            else
            {
                <a target="_blank" href="@MovieEvent.IMDb">link</a>
            }
        </div>
        <div>
            <b>Download Link: </b>
            @if (string.IsNullOrEmpty(MovieEvent.DownloadLink))
            {
                <span>none</span>
            }
            else
            {
                <a target="_blank" href="@MovieEvent.DownloadLink">download movie</a>
            }
        </div>
        <div>
            @if (string.IsNullOrEmpty(MovieEvent.PosterUrl))
            {
                <span>none</span>
            }
            else
            {
                <img style="max-width: 400px; max-height: 400px;" src="@MovieEvent.PosterUrl" />
            }
            <br />
        </div>
        <div>
            <b>Reason: </b>
            @if (string.IsNullOrEmpty(MovieEvent.Reasoning))
            {
                <span>none</span>
            }
            else
            {
                @MovieEvent.Reasoning
            }
        </div>
        <button type="submit" @onclick="Edit">Edit</button>
    }
}
else
{
    <span>Loading...</span>
}


@code {
    [Parameter]
    public MovieEvent? MovieEvent { get; set; }

    private MongoDb db = new MongoDb();

    private void Edit()
    {
        if (MovieEvent != null)
            MovieEvent.IsEditing = true;
    }
    private void Cancel()
    {
        if (MovieEvent != null)
            MovieEvent.IsEditing = false;
    }
    private void Save()
    {
        if (MovieEvent != null)
            db.AddOrUpdateMovieEvent(MovieEvent);
        this.Cancel();
    }
}
