@page "/"
@using MovieReviewApp.Components.Partials
<PageTitle>Movie Review</PageTitle>
<div class="container">
    @if (RecentUpdates.Any() && showUpdates)
    {
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <h5>Recent Updates:</h5>
            <ul class="mb-0">
                @foreach (var update in RecentUpdates.Take(3))
                {
                    <li>@update.Description - @update.LastUpdateTime.ToLocalTime().ToString("MM/dd/yyyy h:mm tt")</li>
                }
            </ul>
            <button type="button" class="btn-close" @onclick="DismissUpdates"></button>
        </div>
    }

    @if (CurrentEvent != null)
    {
        <div class="row">
            <div class="col-md-6">
                <Phase MovieEvent="CurrentEvent" />
            </div>
            <div class="col-md-6">
                <p>
                    Questions:
                </p>
                <ol>
                    <li>Did I like the movie?</li>
                    <li>Am I glad I watched the movie?</li>
                    <li>Do I think I'd ever watch it again?</li>
                    <li>Would you ever recommend this movie?</li>
                    <li>What was my favorite part of the movie?</li>
                    <li>What was my least favorite part of the movie?</li>
                </ol>
            </div>
        </div>
    }
    else if (NextEvent != null)
    {
        <p>Movie Review cycle starts @NextEvent.StartDate.ToString("MMMM d, yyyy")</p>
    }
    else
    {
        <p>Add some names to Settings</p>
    }
    @if (NextEvent != null)
    {
        <div class="row mt-4">
            <div class="col-md-6">
                <Phase MovieEvent="NextEvent" />
            </div>
        </div>
    }
    @if (Phases?.Any() ?? false)
    {
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="timeline">
                    @foreach (var phase in Phases.Where(p => p.Events.Any(e =>
                   e != CurrentEvent &&
                   e != NextEvent &&
                   e.EndDate >= DateTime.Now)))
                    {
                        <div class="timeline-item">
                            <h5>Cycle @phase.Number (@phase.StartDate.ToString("MMMM yyyy") - @phase.EndDate.ToString("MMMM yyyy"))</h5>
                            @foreach (var movieEvent in phase.Events.Where(x =>
                           x != CurrentEvent &&
                           x != NextEvent &&
                           x.EndDate >= DateTime.Now))
                            {
                                <div class="timeline-content">
                                    <span class="date">@movieEvent.StartDate.ToString("MMMM yyyy")</span> -
                                    <span class="person">@(movieEvent.Person ?? "TBD")</span>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>